@font-face {
	font-family: 'W95FA', sans-serif;
	src: url('W95FA.otf');
}

* {
	font-family: W95FA;
}
body {
    color: white;
    background-color: #55aaaa;
    margin: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:active, a:focus {
    outline: 0;
    border: none;
  }
.desktop{
    display: flex;
    place-items: center;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icons{
    width: fit-content;
}
.icon-spot{
    width: 64px;
    height: 64px;
    text-align: center;
    border: solid 1px #fff0;
    margin: 10px;
    padding: 10px;
    touch-action: none;
}
.icon-spot:hover{
    border-color: #fff8;
    border-style: dotted;
}
.empty{
    border: 0;
}
.white{
    color: white;
}
.black{
    color: black;
}
.icon-title{
    font-size: 15px;
    text-align: center;
    border: solid 1px #fff0;
    margin: 0;
}
.icon-title:active{
    border-color: #fff8;
    border-style: dotted;
}
.centered{
    width: 555px;
    margin-left: auto;
    margin-right: auto;
}
.window-icon{
    width: 20%;
    float: left;
    margin-right: 5%;
}
.portfolio-window{
    position: fixed;
    z-index: 0;
    width: 25%;
    right: 0;
    top: 0;
    padding-top: 4px;
    padding-right: 4px;
}
#win1, #win2{
    display: none;
    z-index: 1;
}
footer{
    padding: 2px;
    box-shadow: inset 1px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    z-index: 99999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#start-button{
    width: 59px;
    margin-top: 2px;
}
#start-button:active{
    content: url("img/start-pressed.png");
}
#portfolio-btn{
    height: 27.6px;
    display: block;
    position: absolute;
    margin-left: 66px;
    top: 4px;
}
#portfolio-btn:active{
    content: url("img/portfolio-btn-pressed.png");
}
#time {
    border-top: 1px solid #868a8e;
    border-left: 1px solid #868a8e;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 2px 15px;
    font-size: 20px;
    position: absolute;
    bottom: 4px;
    right: 12px;
    color: black;
}

/* Windows 95 adjustments */
.title-bar-text{
    font-size: 20px;
}
.window{
    touch-action: none;
}
.window-body{
    display: flex;
    flex-flow: wrap;
    font-size: 15px;
}

/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }